node_modules/
.circleci/
.github/
.husky/
.nyc_output/
.vscode/
coverage/
data/
logs/
public/
sessions/
ssl/
test/
tmp/
screenshots/

.env*
.gitpod.yml
.prettier*
CONTRIBUTING.md
cypress*
docker-compose*
Dockerfile
.dockerignore
.gitignore
fly.toml
Makefile
nodemon.json
README.md
.DS_Store

npm-debug.log
