<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>simpleimage - Simple Image Upload</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/error.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <%- include("headers") %>
</head>

<body>
    <div id="error-container">
        <div class="error-backdrop">
            <h2>Oops</h2>
        </div>
        <div id="error-pane">
            An error occurred. Here is the error message:
            <br>
            <br>
            <i><%= message %></i>
            <br>
            <br>
            <a href="/">
                <span class="collecticons collecticons-arrow-return head-icon"></span>
                <span style="font-size: 20px; margin-left: 0.2em;">Return to Homepage</span>
            </a>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>