<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>simpleimage - Simple Image Upload</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
</head>

<body>
    <%= message %>
</body>

</html>