<div class="nav-item nav-button" onclick="openLogin();">
    <span class="noselect">Login</span>
</div>
<div class="nav-item nav-button" onclick="openRegister();">
    <span class="noselect">Register</span>
</div>
<% if (guestHasExtraFeatures) { %>
<a href="/your_images">
    <div class="nav-item nav-button">
        <span class="noselect">Images</span>
    </div>
</a>
<% } %>