<div class="nav-item nav-right-2 nav-button" onclick="openLogin();">
    <span class="noselect">Login</span>
</div>
<div class="nav-item nav-right-1 nav-button" onclick="openRegister();">    
    <span class="noselect">Register</span>
</div>