<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>simpleimage - Simple Image Upload</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/home-style.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="assets/js/home.bundle.js"></script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user,fromUrl}) %>
    <div id="contents">
        <div id="notification-overlay-container">
        </div>
        <div id="overlay-container">
        </div>
        <div id="upload-center">
            <table id="upload-interact">
                <tr>
                    <td valign="bottom">
                        <div id="upload-area">
                            <div id="upload-preview">
                            </div>
                            <div class="button" id="select-button">
                                <form action="/upload?type=json" id="upload" method="POST" enctype="multipart/form-data">
                                    <input type="file" accept=".gif, .png, .jpg, .jpeg, .bmp" id="select-me" value="">
                                </form>
                                <span class="collecticon collecticon-picture head-icon"></span>
                            </div>
                            <div class="button" id="upload-button">
                                <span class="collecticon collecticon-upload head-icon"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <%- include("footer") %>
</body>

</html>