<div id="contents" class="contents">
    <div id="login-container">
        <div class="login-view">
            <h2>Login</h2>
            <form action="/login" method="POST" id="login-form" class="input-form">
                <table>
                    <tr>
                        <td>
                            <span>Username</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="input-login-username" type="text" name="username"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Password</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" name="password"></input>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
                <span class="button submit-button">Submit</span>
            </form>
            <div id="register-from-login">
                Don't have an account?
                <span id="register-via-login-button" class="button">Register Now</span>
            </div>
        </div>
    </div>
</div>
