<div id="contents" class="contents">
    <div id="register-container">
        <div class="register-view">
            <h2>Register</h2>
            <form action="/register" method="POST" id="register-form" class="input-form">
                <table>
                    <tr>
                        <td><span>Username:</span></td>
                        <td>
                            <input id="input-register-username" type="text" name="username"></input>
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Password:</span></td>
                        <td><input type="password" name="password"></input></td>
                    </tr>
                    <tr>
                        <td><span>Confirm Password:</span></td>
                        <td><input type="password" name="passwordConfirm"></input></td>
                    </tr>
                    <tr>
                        <td><span>Email:</span></td>
                        <td><input type="text" name="email"></input></td>
                    </tr>
                </table>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
                <span class="button submit-button">Submit</span>
            </form>
        </div>
    </div>
</div>
