<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User Settings - simpleimage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/settings-style.css">
    <link rel="stylesheet" href="/assets/css/form-style.css">
    <link rel="stylesheet" href="/assets/css/comments.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/assets/js/user.bundle.js"></script>
    <script>
        var onPasswordResetSubmitted = function() {
            let jsonObj;
            try {
                jsonObj = JSON.parse(this.responseText);
            } catch (err) {
                handleResponseFailure(this.status);
                return console.error("[onPasswordResetSubmitted]", "Error occurred when parsing response", err);
            }
            if (this.status !== 200) {
                showNotification(jsonObj.message, {
                    error: true
                });
            } else {
                showNotification(jsonObj.message, {
                    error: false
                });
            }
        };

        var submitPasswordReset = function() {
            var form = $("form[id='change-password-form']");
            var req = new XMLHttpRequest();

            req.onload = onPasswordResetSubmitted;
            req.open("post", "/change_password?type=json");
            req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            req.send(form.serialize());
        }

        $(function () {
            $("form[id='change-password-form']").on("submit", function(e) {
                e.preventDefault();
                submitPasswordReset();
                return false;
            });
            $("form[id='change-password-form'] .submit-button").click(function (e) {
                $("form[id='change-password-form']").submit();
            });
        });
    </script>
    <%- include("headers") %>
</head>

<body>
    <div id="overlay-backdrop">
    </div>
    <%- include("top-nav-view", {user:sessionUser}) %>
    <div id="contents" class="page-contents">
        <div id="notification-overlay-container">
        </div>
        <div id="overlay-container">
        </div>
        <div id="settings-container">
            <div>
                <h2>User Settings</h2>
            </div>
            <div class="settings-view">
                <span>Change Password</span><br/>
                <form action="/change_password?type=html" method="POST" id="change-password-form" class="input-form">
                    <span>Old Password</span>
                    <input type="password" name="oldPassword"></input><br />
                    <span>New Password</span>
                    <input type="password" name="newPassword"></input><br />
                    <span>Confirm New Password</span>
                    <input type="password" name="newPasswordConfirm"></input><br />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
                    <span class="button submit-button">Submit</span>
                </form>
            </div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>