<div id="top-nav">
    <div class="nav-content">
        <nav>
            <div id="title" class="nav-item">
                <a href="/"><div class="logo"></div></a>
            </div>
            <% if (user === undefined) { %>
            <%- include("guest-menu-view",{guestHasExtraFeatures}) %>
            <% } else { %>
            <%- include("user-menu-view",{user}) %>
            <% } %>
            <div id="mobile-menu-button" class="nav-item user nav-drawer">
                <span class="collecticon collecticon-hamburger-menu head-icon"></span>
            </div>
        </nav>
    </div>
    <div id="mobile-menu">
        <% if (user === undefined) { %>
        <%- include("guest-mobile-menu-view",{guestHasExtraFeatures}) %>
        <% } else { %>
        <%- include("user-mobile-menu-view",{user}) %>
        <% } %>
    </div>
</div>