<div id="top-nav">
    <span id="title">
        <a href="/">simpleimage</a>
    </span>
    <% if (user === undefined) { %>
    <%- include("guest-menu-view") %>
    <% } else { %>
    <%- include("user-menu-view",{user,fromUrl}) %>
    <% } %>
</div>