<div class="nav-item nav-menu-item nav-static">
    <span class="collecticon collecticon-user head-icon"></span>
    <span>
        <%= user.username %>
    </span>
</div>
<a href="/users/<%= user.username %>">
    <div class="nav-item nav-button nav-menu-item">
        <span>Profile</span>
    </div>
</a>
<div class="nav-item nav-button nav-menu-item">
    <form id="logout-form" method="POST" action="/logout">
        <input type="hidden" name="redirectUrl" value="<%= fromUrl %>"></input>
        <a href="#" class="noselect" onclick="document.getElementById('logout-form').submit();">Logout</a>
    </form>
</div>