<div class="nav-item nav-menu-item nav-static">
    <span class="collecticon collecticon-user head-icon"></span>
    <span>
        <%= user.username %>
    </span>
</div>
<a href="/users/<%= user.username %>" class="noselect">
    <div class="nav-item nav-button nav-menu-item">
        <span>Profile</span>
    </div>
</a>
<a href="/your_images" class="noselect">
    <div class="nav-item nav-button nav-menu-item">
        <span>Images</span>
    </div>
</a>
<a href="#" class="noselect" onclick="document.getElementById('logout-form').submit();">
    <div class="nav-item nav-button nav-menu-item">
        <form id="logout-form" method="POST" action="/logout">
            <input type="hidden" name="redirectUrl" value="<%= fromUrl %>"></input>
            <span>Logout</span>
        </form>
    </div>
</a>
