<div class="nav-item user">
    <a href="#" class="nav-composite">
        <span class="collecticon collecticon-user head-icon"></span>
        <span>
            <%= user.username %>
        </span>
    </a>
    <form id="logout-form" method="POST" action="/logout">
        <input type="hidden" name="redirectUrl" value="<%= fromUrl %>"></input>
        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
    </form>
</div>