<div id="user-menu" class="nav-item nav-menu nav-right-1">
    <div class="nav-item nav-sub user nav-button">
        <span class="nav-composite noselect">
            <span class="collecticons collecticons-user head-icon"></span>
            <span style="margin-left: 4px;">
                <%= user.username %>
            </span>
        </span>
    </div>
    <div class="nav-menu-items">
        <a href="/users/<%= user.username %>" class="noselect">
            <div class="nav-item nav-button nav-menu-item">
                <span>Profile</span>
            </div>
        </a>
        <a href="/settings" class="noselect">
            <div class="nav-item nav-button nav-menu-item">
                <span>Settings</span>
            </div>
        </a>
        <a href="#" class="noselect" onclick="document.getElementById('logout-form').submit();">
            <div class="nav-item nav-button nav-menu-item">
                <form id="logout-form" method="POST" action="/logout">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
                </form>
                <span>Logout</span>
            </div>
        </a>
    </div>
</div>