#comments-container {
    background-color: #4CAF50;
    border: 2px solid green;
}

#comments-container .comment {
    padding: 20px;
}

#comments-container .comment:not(:last-child) {
    border-bottom: 2px solid green;
}

#comments-container #comments.message,
#comments-container #comments.error {
    padding: 20px;
}

#comments-container .error {
    background-color: red;
    border: 2px solid rgb(128, 0, 0);
}

.comment-box {
    font-size: 16px;
    width: 50%;
    height: 120px;
}

@media (max-width: 768px) {
    .comment-box {
        width: 100%;
    }
}

#comments-placeholder {
    display: flex;
    height: 80px;
}

#comments-placeholder > div {
    height: 50px;
    width: 50px;
    margin: auto;
}
