#comments-container {
    background-color: #4CAF50;
    border: 2px solid green;
}

#comments-container .comment {
    padding: 20px;
}

#comments-container .comment:not(:last-child) {
    border-bottom: 2px solid green;
}