body {
    margin: 0;
}

h2 {
    color: white;
}

#error-container {
    position: absolute;
    width: 100%;
}

#error-container a {
    color: white;
    text-decoration: none;
}

#error-container .error-backdrop {
    margin-left: 20px;
}

#error-pane {
    padding: 20px;
    background-color: #b1a8a8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#footer {
    position: absolute;
    width: 100%;
}