body {
    overflow: visible;
}

.image-view {
    display: block;
    margin: auto;
    max-width: 100%;
}

#image-container {
}

#container {
    position: relative;
}

#image-container a {
    color: white;
    text-decoration: none;
}

#image-container a.user {
    color: #6bf3ff;
}

#image-container a.user.you {
    color: #6bff72;
}

.action-link {
    cursor: pointer;
}

#image-container .action-link.delete {
    color: #ff6b6b;
}

#image-container .action-link.login {
    color: #6b9aff;
}

#image-container .action-link.register {
    color: #fdff6b;
}
