body {
    overflow: visible;
}

#user-container h2 {
    color: white;
}

.user-view {
    background: grey;
    padding: 20px;
    line-height: 20px;
}

#user-container {
    
}

#user-container .user-view #join-date {
    margin-left: 4px;
}

#container {
    position: relative;
}

#images-container {
    height: 100%;
}