body {
    overflow: visible;
}

#user-container h2 {
    color: white;
}

.user-view {
    background: grey;
    padding: 20px;
    line-height: 20px;
}

#user-container .info-box {
    background-color: #fff266;
    border: 4px solid #a89a00;
    border-radius: 8px;
}

#user-container .user-view #join-date {
    margin-left: 4px;
}

#container {
    position: relative;
}

#images-container {
    height: 100%;
}